body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999; /* Set a high z-index value to ensure it appears on top */
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* Button Styles */
button {
    background-color: black; /* Green background color */
    color: white; /* White text color */
    padding: 6px 12px; /* Padding inside the button */
    border: none; /* No border */
    border-radius: 6px; /* Rounded corners */
    font-size: 14px; /* Font size */
    cursor: pointer; /* Cursor on hover */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Button Hover Effect */
button:hover {
    background-color: darkgray; /* Darker green color on hover */
}

.post-newest{
    background-color: white;
    margin: 125px 0 0; /*1 post: 0, 2 posts (oldest then newest): -35px, 3 posts and more (oldest, post, newest): -35px*/
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative; 
}

.post-oldest{
    background-color: white;
    margin: 60px 0 95px; /* Increase the top margin to make space for the fixed header */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
}

.post {
    background-color: white;
    margin: 60px 0 -35px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
}

.gradient-text {
    background-image: linear-gradient(to left, white, black); /* Define your gradient colors here */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.expandable-text {
    background-color: white;
    color: black;
    display: none;
    /* Initially hide the expandable text */
}

.post-date {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* CSS for desktop devices */
@media only screen and (max-width: 767px) {
    footer {
        display: none;
    }
}
